@using StudentAssistant.WebUI.Dtos.Notes
@model ResultNotesDto
@{
    ViewData["Title"] = "GetDetailNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="read-content">
    <div class="media pt-5">
        <img class="mr-3 rounded-circle" src="~/adminTheme/images/avatar/1.jpg">
        <div class="media-body">
            <h5 class="m-b-3">@ViewBag.name</h5>
            <p class="m-b-2">@Model.Date.ToString("dd/MM/yyyy")</p>
        </div>
        <a href="/Notes/UpdateNotes/@Model.NotesID" class="btn btn-success" style="margin-right:10px;">Güncelle</a>

        <a href="/Notes/DeleteNotes/@Model.NotesID" class="btn btn-danger" id="btnDelete">Sil</a>
    </div>
    <hr>
    <div class="media mb-4 mt-1">
        <div class="media-body">
            <span class="float-right">@Model.Date.ToString("hh:mm tt")</span>
            <h4 class="m-0 text-primary">@Model.Subject</h4>
        </div>
    </div>
    <p class="m-b-15">
        <strong>
            @Model.NotesText
        </strong>
    </p>
</div>

<script>
    document.getElementById('btnDelete').addEventListener('click', function () {
        Swal.fire({
            // title: 'Uyarı!',
            text: 'Silme işlemi başarılı..',
            icon: 'success',
            timer: '3000',
            showConfirmButton: false
        });
    });
</script>